@page "/about-us"

<MudGrid Style="background-color:#035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#E3E3E6; font-size: 18px;"><MudIcon Icon="@Icons.Material.Filled.Chat" Size="Size.Large" />&nbsp;&nbsp;&nbsp; ABOUT US</MudText>
	</MudItem>
</MudGrid>
<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/AboutUs.jpeg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudGrid Justify="Justify.Center">
			<MudItem xs="12" sm="9" lg="7" Style="padding-top: 55px; padding-bottom: 55px" Class="border">
				<MudText Style="color: #676773; font-size: 20px; font-weight: 700;">Every business has unique needs, and should not be forced to conform to the same “black box” marketing programs. CRI prides itself on being nimble, and customizing solutions for each and every client.</MudText>
			</MudItem>
			<MudItem xs="12" sm="9" lg="5" Style="background-color: #f2f2f2; padding-top: 30px;">
				<MudText Style="color: #676773; font-size: 14px; font-style: italic; ">"Our experience with Customer Research dates back to the early 80’s. We’ve continued doing business with them for nearly 40 years because of their attention to detail and personalized service. Even though they have grown to be a nation-wide company, they continue to operate as a small, family-run business."</MudText>
				<MudText Align="Align.End" Class="mt-6" Typo="Typo.body2" Style="color: #0787C9; font-size: 15px; font-style: italic; font-weight: 700;">- Kerry Sawyer<br />President, Toyota of Puyallup</MudText>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-10" Style="background-color: #035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 18px; font-style: italic; font-weight: 700;">If the Client is Happy We're Happy</MudText>
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 14px; font-weight: 400;">Customer Research, Inc. was founded in 1967, with a focus on customer satisfaction indexing (CSI) follow-up calls for Pacific Northwest auto dealers. Today CRI provides many industries with CSI, customer loyalty, reputation enhancement, data collection and revenue generating marketing solutions globally. Our extensive client list includes thousands of:</MudText>
		<ul class="mt-6" style="color: #E3E3E6; font-size: 14px; list-style-type:initial; margin-left : 2em;">
			<li>Independent service centers</li>
			<li>Collision centers</li>
			<li>Franchised auto dealers</li>
			<li>Auto glass businesses</li>
			<li>Insurance companies</li>
			<li>Auto recyclers</li>
			<li>Businesses from many additional industries</li>
		</ul>
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 14px; font-weight: 400;">Although CRI currently serves thousands of businesses, we take a “boutique” approach to all clients.</MudText>
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 14px; font-weight: 400;">Our philosophy is simple: if our clients aren’t happy, then neither are we. The satisfaction of our clients is our #1 priority, which is why when you partner with CRI, you can be assured that your project will be handled with complete attention and care. Understanding that every industry is different, you will be assigned a CRI account representative who will work closely with you toward achieving your goals.</MudText>
		<MudText Class="mt-6 mb-6" Style="color: #E3E3E6; font-size: 14px;">With nearly 50 years of experience, our goal is to help contribute toward the success of your business and become your most valuable business partner. CRI clients range from small businesses to Fortune 500 companies.</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style="background: linear-gradient(#fff 20%, #cde7f4 100%);" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #0787C9; font-size: 18px; font-style: italic; font-weight: 700;">Corporate Partners</MudText>
	</MudItem>
	<MudItem xs="10">
		<MudGrid>
			<MudItem xs="6">
				<dl style="color: #676773; font-size: 14px;">
					<dd>BMW of North America</dd>			  
					<dd>Mitchell 1</dd>						  
					<dd>Amerisure Insurance</dd>			  
					<dd>Hyundai USA</dd>					  
				</dl>										  
			</MudItem>										  
			<MudItem xs="6">								  
				<dl style="color: #676773; font-size: 14px;">
					<dd>Solera - LYNX Services</dd>
					<dd>Sonic Automotive</dd>
					<dd>Joe Hudson's Collision Centers</dd>
					<dd>SureCritic</dd>
				</dl>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style="background-color: #035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 18px; font-style: italic; font-weight: 700;">Industry Publications</MudText>
	</MudItem>
	<MudItem xs="10">
		<MudGrid Class="mb-6">
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Considerations for Choosing a CSI Delivery Method</a></dd>
					<dd style="font-style: italic;">Fender Bender Magazine</dd>
					<dd>By Kelly Beaton, with Dusty Dunkle contributing</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Marketing Through Social Media</a></dd>
					<dd style="font-style: italic;">Body Shop Business</dd>
					<dd>Curt Harler with Dusty Dunkle contributing</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Calming Comeback Customers</a></dd>
					<dd style="font-style: italic;">Fender Bender Magazine</dd>
					<dd>By Anna Zeck, with Dusty Dunkle Contributing</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Choose Your Partners Wisely</a></dd>
					<dd style="font-style: italic;">The Puget Sound Dealer</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Make Your Online Reputation Sparkle</a></dd>
					<dd style="font-style: italic;">Automotive Recycling Magazine</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">What CSI Can Do For Your Body Shop</a></dd>
					<dd style="font-style: italic;">Fixed Ops Magazine</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Your Online Reputation and Your Bottom Line</a></dd>
					<dd style="font-style: italic;">Automotive Recycling Magazine</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Hold the Phones - How New Technology Changed CSI</a></dd>
					<dd style="font-style: italic;">Fixed Ops Magazine</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">From Bad to Gold</a></dd>
					<dd style="font-style: italic;">Fender Bender Magazine</dd>
					<dd>By Andrew Johnson, with Dusty Dunkle Contributing</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Use CSI For More Than Marketing</a></dd>
					<dd style="font-style: italic;">Body Shop Professional</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Calming Customer Complaints</a></dd>
					<dd style="font-style: italic;">Fender Bender Magazine</dd>
					<dd>By Andrew Johnson, with Dusty Dunkle Contributing</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Got Happy Customers?</a></dd>
					<dd style="font-style: italic;">Fixed Ops Magazine</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Reputation Through Reviews</a></dd>
					<dd style="font-style: italic;">Fender Bender Magazine</dd>
					<dd>By Andrew Johnson, with Dusty Dunkle Contributing</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Create Customer Loyalty</a></dd>
					<dd style="font-style: italic;">Dealer Marketing Magazine</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">One Woman's Vision in a Man's Industry</a></dd>
					<dd style="font-style: italic;">The Puget Sound Dealer</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Your Second Chance to Make That Sale</a></dd>
					<dd style="font-style: italic;">The Puget Sound Dealer</dd>
					<dd>By Dusty Dunkle</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Worth Its Weight In Gold</a></dd>
					<dd style="font-style: italic;">Automotive Recycling</dd>
					<dd>By D.L Foor</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Considerations for Choosing a CSI Delivery Method</a></dd>
					<dd style="font-style: italic;">Fender Bender</dd>
					<dd>By Kelly Beaton, with Dusty Dunkle contributing</dd>
				</dl>
			</MudItem>
			<MudItem xs="6">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd><a href="" style="color:#E3E3E6; text-decoration:underline;">Read about how CRI client Gullo Toyota Collision Center won the Toyota Certified Collision Center (TCCC) customer service triple crown three years running!</a></dd>
				</dl>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Justify="Justify.Center" Style="background: linear-gradient(#fff 20%, #cde7f4 100%);" Class="mt-3">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #0787C9; font-size: 18px; font-style: italic;font-weight: 700;">CRI Turns 50! Our History</MudText>
		<MudText Class="mt-6" Style="color: #676773; font-size: 14px;">In 1967 Kathy Dunkle walked into a Seattle area auto dealership desperately seeking work. There were no job openings, but the general manager, impressed with her talents, created a position for her delivering flowers to new vehicle buyers. At the time, no one suspected what would come of these deliveries. But as the customers Kathy visited shared their purchase experiences with her - both positive and negative -  the dealership came to recognize the incredible value of the information she brought back each night, and soon a plan was developed to gather feedback from every customer.</MudText>
		<MudText Class="mt-6" Style="color: #676773; font-size: 14px;">As Kathy called through stacks of completed service department repair orders, she quickly discovered how often a bad experience led customers to take their business elsewhere, and how often a polite follow-up call, beginning with a thank you, could lead to repeat and referral business.  Some customers even thought the calls were a hoax, as they had never in their lives been asked about a product or service experience.</MudText>
		<MudText Class="mt-6" Style="color: #676773; font-size: 14px;">Kathy knew she was on to something big. It was clear that customer feedback could be crucial to success. It could be an incredible tool for improving service and boosting business. Kathy saw that what she had learned at a single dealership would be of great value to auto dealers throughout Seattle and beyond, all of whom would be eager to benefit from similar insights.  Shortly thereafter she formed Customer Research, Inc. (CRI), the nation’s first customer satisfaction follow-up company, serving the automotive industry.</MudText>
		<MudText Class="mt-6 mb-6" Style="color: #676773; font-size: 14px;">Since 1967, customer satisfaction indexing (CSI) has become the industry standard for measuring the success of auto dealerships and service departments. At the time, monitoring customer satisfaction was not a well understood concept. Today, every manufacturer, retailer, and automotive service entity in America tracks CSI closely as an accepted part of doing business.  And that small business that was born of Kathy Dunkle delivering flowers has - over 50 years - grown into a leading provider of CSI, customer loyalty, reputation enhancement, and revenue generating marketing solutions across the globe.</MudText>
	</MudItem>
	<MudItem xs="10" Class="mb-6">
		<MudImage Src="Images/About-news.jpg" Fluid="true" />
	</MudItem>
</MudGrid>