@page "/bdc-booster"

<MudGrid Style="background-color:#035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#E3E3E6; font-size: 18px;"><MudIcon Icon="@Icons.Material.Filled.TrendingUp" Size="Size.Large" />&nbsp;&nbsp;&nbsp; BDC BOOSTER</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/BDCBooster.jpeg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="text-center" Style="color: #0787C9; font-size: 20px; font-weight: 700;">Are you 100% satisfied with the performance of your BDC?</MudText>
		<MudText Class="mt-4 text-center" Style="color: #0787C9; font-size: 20px; font-weight: 700;">Are you driving as many customers as possible to your showroom?</MudText>
		<MudText Class="mt-4" Style="color: #676773; font-size: 18px; font-weight: 700;">CRI can assist your BDC and improve your bottom line through outbound communications with specifically targeted customers in your CRM and DMS. We schedule your unsold prospects as well as your customers that we project to be in the market for a new vehicle soon.</MudText>
	</MudItem>
	<MudItem xs="10">
		<MudGrid Justify="Justify.Center">
			<MudItem xs="8" sm="4" lg="2">
				<ul class="mt-6" style="color: #676773; font-size: 18px; font-weight: 700; list-style-type:initial; margin-left : 1em;">
					<li>Walk-in Ups</li>
					<li>Internet Ups</li>
					<li>Telephone Ups</li>
					<li>Off Lease</li>
					<li>End of Term</li>
					<li>High APR</li>
					<li>High Equity</li>
				</ul>
			</MudItem>
			<MudItem xs="12" sm="8" lg="7" Class="text-center">
				<MudImage Src="Images/UpwardSales.jpg" Fluid="true" />
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>