@page "/contact-center"

<MudGrid Style="background-color:#035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#E3E3E6; font-size: 18px;"><MudIcon Icon="@Icons.Material.Filled.HeadsetMic" Size="Size.Large" />&nbsp;&nbsp;&nbsp; CONTACT CENTER</MudText>
	</MudItem>
</MudGrid>
<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/CallCenter.jpeg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudGrid Justify="Justify.Center">
			<MudItem xs="12" sm="9" lg="7" Style="padding-top: 40px; padding-bottom: 40px" Class="border">
				<MudText Style="color: #676773; font-size: 20px; font-weight: 700;">CRI completes more than 500,000 calls per month from our in-house full-service contact center, providing leading solutions and services to industries around the globe.</MudText>
			</MudItem>
			<MudItem xs="12" sm="9" lg="5" Style="background-color: #f2f2f2; padding-top: 30px;">
				<MudText Style="color: #676773; font-size: 14px; font-style: italic; font-weight: 400;">“Customer Research has always worked in a timely, efficient manner. They have been, and are now, an outstanding business partner of ours.”</MudText>
				<MudText Align="Align.End" Class="mt-6" Typo="Typo.body2" Style="color: #0787C9; font-size: 15px; font-style: italic; font-weight: 700;">— Traweek Dickson<br />President, Joe Hudson’s Collision Centers</MudText>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-10" Style="background-color: #035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 18px; font-style: italic; font-weight: 700;">Call Center Services</MudText>
	</MudItem>
	<MudItem xs="10">
		<MudGrid>
			<MudItem xs="4">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd>Outbound & Inbound</dd>
					<dd>Research & Telemarketing</dd>
					<dd>Live Agent & IVR / Automated messaging</dd>
					<dd>Consumer & B2B</dd>
					<dd>Multilingual</dd>
				</dl>
			</MudItem>
			<MudItem xs="4">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd>Data Collection</dd>
					<dd>Customer Satisfaction</dd>
					<dd>Lead Generation</dd>
					<dd>Appointment Scheduling</dd>
					<dd>Reminders & Promotions</dd>
				</dl>
			</MudItem>
			<MudItem xs="4">
				<dl style="color: #E3E3E6; font-size: 14px;">
					<dd>Survey Design</dd>
					<dd>Call Recording</dd>
					<dd>Live Call Transfer / Forwarding</dd>
					<dd>Data Processing & Tabulation</dd>
					<dd>Secure Data Transfer</dd>
				</dl>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Justify="Justify.Center" Style="background: linear-gradient(#fff 20%, #cde7f4 100%);" Class="mt-3">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #0787C9; font-size: 18px; font-style: italic; font-weight: 700;">Providing Leading Solutions</MudText>
		<ul class="mt-6 mb-6" style="color: #676773; font-size: 14px; list-style-type:initial; margin-left : 2em;">
			<li>Our contact center technology is unsurpassed in the industry.</li>
			<li>Our 50 years of experience ensure timely, accurate and thorough results.</li>
			<li>Our highly-trained, long-term contact center agents are the heart and soul of every call.</li>
		</ul>
	</MudItem>
</MudGrid>