@page "/contact-center"

<MudGrid Style="background-color:#002b45;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#ffffff; font-family: 'Abel';font-weight: 400;font-size: 18px;"><MudImage Src="Images/icon-contact.png" Fluid="true" />&nbsp;&nbsp;&nbsp; CONTACT CENTER</MudText>
	</MudItem>
</MudGrid>
<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/CallCenter.jpg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudGrid Justify="Justify.Center">
			<MudItem xs="7" Style="padding-top: 40px; padding-bottom: 40px" Class="border">
				<MudText Style="color: #333333; font-size: 20px; font-family: 'Noto Serif', serif; font-weight: 700;">CRI completes more than 500,000 calls per month from our in-house full-service contact center, providing leading solutions and services to industries around the globe.</MudText>
			</MudItem>
			<MudItem xs="5" Style=@($"background-color: {Colors.Grey.Lighten2}; padding-top: 30px;")>
				<MudText Style="color: #333333; font-size: 14px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 400;">“Customer Research has always worked in a timely, efficient manner. They have been, and are now, an outstanding business partner of ours.”</MudText>
				<MudText Align="Align.End" Class="mt-6" Typo="Typo.body2" Style="color: #333333; font-size: 15px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">— Traweek Dickson<br/>President, Joe Hudson’s Collision Centers</MudText>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-10" Style="background-color: #002b45;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 18px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">Call Center Services</MudText>
	</MudItem>
	<MudItem xs="10">
		<MudGrid>
			<MudItem xs="4">
				<dl style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd>Outbound & Inbound</dd>
					<dd>Research & Telemarketing</dd>
					<dd>Live Agent & IVR / Automated messaging</dd>
					<dd>Consumer & B2B</dd>
					<dd>Multilingual</dd>
				</dl>
			</MudItem>
			<MudItem xs="4">
				<dl style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd>Data Collection</dd>
					<dd>Customer Satisfaction</dd>
					<dd>Lead Generation</dd>
					<dd>Appointment Scheduling</dd>
					<dd>Reminders & Promotions</dd>
				</dl>
			</MudItem>
			<MudItem xs="4">
				<dl style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd>Survey Design</dd>
					<dd>Call Recording</dd>
					<dd>Live Call Transfer / Forwarding</dd>
					<dd>Data Processing & Tabulation</dd>
					<dd>Secure Data Transfer</dd>
				</dl>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Justify="Justify.Center" Style=@($"background-color: {Colors.Grey.Lighten2};") Class="mt-3">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #333333; font-size: 18px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">Providing Leading Solutions</MudText>
		<ul class="mt-6 mb-6" style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400; list-style-type:initial; margin-left : 2em;">
			<li>Our contact center technology is unsurpassed in the industry.</li>
			<li>Our 50 years of experience ensure timely, accurate and thorough results.</li>
			<li>Our highly-trained, long-term contact center agents are the heart and soul of every call.</li>
		</ul>
	</MudItem>
</MudGrid>