@page "/lost-customer-recapture"

<MudGrid Style="background-color:#035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#E3E3E6; font-family: 'Abel';font-weight: 400;font-size: 18px;"><MudIcon Icon="@Icons.Material.Filled.EmojiPeople" Size="Size.Large" />&nbsp;&nbsp;&nbsp; LOST CUSTOMER RECAPTURE</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/CustomerRecapture.jpeg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color: #676773; font-size: 20px; font-weight: 700;">CRI provides the chance to generate immediate revenue and transform a completely lost customer into a customer for life. CRI mines your management system for inactive customers (Lost Souls), and then using a multi-channel communication approach, drives those customers back to your business, allowing you to renew that customer relationship.</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-10" Style="background-color: #035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 18px; font-style: italic; font-weight: 700;">Generate Immediate Revenue From Lost Customers</MudText>
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 14px;">On average, over 20% of these customers return for service, and 50% provide valuable information.</MudText>
		<ul class="mt-6" style="color: #E3E3E6; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>Find out why customers are not returning, where they are going for service, and the reasons they are choosing the competition.</li>
		</ul>
		<ul class="mt-6 mb-6" style="color: #E3E3E6; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>If customers are not returning as a result of a bad previous experience, CRI uncovers the information necessary to salvage your relationship with that customer.</li>
		</ul>
		<ul class="mt-6 mb-6" style="color: #E3E3E6; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>CRI call center agents are web enabled, and even schedule real-time into your web-based scheduling system.</li>
		</ul>
	</MudItem>
</MudGrid>