@page "/marketing"

<MudGrid Style="background-color:#035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#E3E3E6; font-size: 18px;"><MudIcon Icon="@Icons.Material.Filled.Groups" Size="Size.Large" />&nbsp;&nbsp;&nbsp; MARKETING</MudText>
	</MudItem>
</MudGrid>
<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/Marketing.jpeg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudGrid Justify="Justify.Center">
			<MudItem xs="12" sm="9" lg="7" Style="padding-top: 40px; padding-bottom: 40px" Class="border">
				<MudText Style="color: #676773; font-size: 20px;font-weight: 700;">CRI's industry leading outreach programs drive customers to your business and create new revenue streams.</MudText>
			</MudItem>
			<MudItem xs="12" sm="9" lg="5" Style="background-color: #f2f2f2; padding-top: 25px;">
				<MudText Style="color: #676773; font-size: 14px; font-style: italic; font-weight: 400;">“Customer Research Inc. helps our members achieve their customer loyalty goals. The exceptional staff at CRI gets the job done right.”</MudText>
				<MudText Align="Align.End" Class="mt-4" Typo="Typo.body2" Style="color: #0787C9; font-size: 15px; font-style: italic; font-weight: 700;">— Jeff Lovell<br />President, ASA Washington</MudText>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-10" Style="background-color: #035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 18px; font-style: italic; font-weight: 700;">Contact Center Marketing</MudText>
		<ul class="mt-6 mb-6" style="color: #E3E3E6; font-size: 14px; font-weight: 400; list-style-type:initial; margin-left : 2em;">
			<li><a href="bdc-booster" style="color: #E3E3E6; text-decoration:underline">BDC Booster – Create more showroom traffic</a></li>
			<li><a href="prospect-followup" style="color: #E3E3E6; text-decoration:underline">Prospects</a></li>
			<li><a href="lost-customer-recapture" style="color: #E3E3E6; text-decoration:underline">Lost Customer Recapture</a></li>
			<li>Declined Services</li>
			<li>Recalls</li>
			<li>No Shows</li>
			<li>Sales to Service</li>
			<li>Event Promotion</li>
			<li>Appointment Reminder</li>
		</ul>
	</MudItem>
</MudGrid>