@page "/marketing"

<MudGrid Style="background-color:#002b45;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#ffffff; font-family: 'Abel';font-weight: 400;font-size: 18px;"><MudImage Src="Images/icons-marketing.png" Fluid="true" />&nbsp;&nbsp;&nbsp; MARKETING</MudText>
	</MudItem>
</MudGrid>
<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/Marketing.jpg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudGrid Justify="Justify.Center">
			<MudItem xs="7" Style="padding-top: 40px; padding-bottom: 40px" Class="border">
				<MudText Style="color: #333333; font-size: 20px; font-family: 'Noto Serif', serif; font-weight: 700;">CRI's industry leading outreach programs drive customers to your business and create new revenue streams.</MudText>
			</MudItem>
			<MudItem xs="5" Style=@($"background-color: {Colors.Grey.Lighten2}; padding-top: 25px;")>
				<MudText Style="color: #333333; font-size: 14px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 400;">“Customer Research Inc. helps our members achieve their customer loyalty goals. The exceptional staff at CRI gets the job done right.”</MudText>
				<MudText Align="Align.End" Class="mt-4" Typo="Typo.body2" Style="color: #333333; font-size: 15px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">— Jeff Lovell<br />President, ASA Washington</MudText>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-10" Style="background-color: #002b45;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 18px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">Contact Center Marketing</MudText>
		<ul class="mt-6 mb-6" style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400; list-style-type:initial; margin-left : 2em;">
			<li><a href="#" style="color: #ffffff; text-decoration:underline">BDC Booster – Create more showroom traffic</a></li>
			<li><a href="#" style="color: #ffffff; text-decoration:underline">Prospects</a></li>
			<li><a href="#" style="color: #ffffff; text-decoration:underline">Lost Customer Recapture</a></li>
			<li>Declined Services</li>
			<li>Recalls</li>
			<li>No Shows</li>
			<li>Sales to Service</li>
			<li>Event Promotion</li>
			<li>Appointment Reminder</li>
		</ul>
	</MudItem>
</MudGrid>