@page "/mystery-shopping"

<MudGrid Style="background-color:#035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="p-1" Style="color:#E3E3E6; font-size: 18px;">MYSTERY SHOPPING</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/MysteryShopping1.jpeg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-3" Style="background: linear-gradient(#fff 20%, #cde7f4 100%);" Justify="Justify.Center">
	<MudItem xs="10" Class="mb-4">
		<MudText Class="mt-6" Style="color: #0787C9; font-size: 18px; font-style: italic; font-weight: 700;">Improve the Customer Experience with your business</MudText>
		<ul class="mt-6" style="color: #676773; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>Get a complete and unbiased view of your business</li>
			<li>Uncover internal strengths and areas for improvement</li>
			<li>Measure quality of service and compliance with policy</li>
			<li>Uncover potentially harmful first impressions that may be resulting in lost leads</li>
		</ul>
		<MudText Class="mt-6" Style="color: #0787C9; font-size: 14px; font-weight: 700;">CRI will custom tailor a solution to uncover this critical information and results will be sent to you quickly, allowing you to react accordingly and immediately.</MudText>
		<MudText Class="mt-6" Style="color: #0787C9; font-size: 14px; font-weight: 700;">Remember - You can only improve what you measure</MudText>
		</MudItem>
</MudGrid>