@page "/prospect-followup"

<MudGrid Style="background-color:#035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#E3E3E6; font-size: 18px;"><MudIcon Icon="@Icons.Material.Filled.EmojiPeople" Size="Size.Large" />&nbsp;&nbsp;&nbsp; PROSPECT FOLLOW UP</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/Prospects.jpeg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="8">
		<MudText Style="color: #676773; font-size: 20px; font-weight: 700;">Turn walk-in, phone and Internet prospects into customers, and learn why they didn't purchase initially.</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-10" Style="background-color: #035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 18px; font-style: italic; font-weight: 700;">Your sales force can spend time closing, not dialing</MudText>
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 14px;">CRI polls prospects daily from your web-based CRM and identifies why they did not purchase initially. We guarantee 2-call attempts per day with the goal of contacting prospects as quickly as possible. The results are then passed to you immediately, before the prospect purchases elsewhere.</MudText>
		<ul class="mt-6" style="color: #E3E3E6; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>This job usually does not get done in-house, leaving money on the table and resulting in the loss of good potential customers.</li>
		</ul>
		<ul class="mt-6 mb-6" style="color: #E3E3E6; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>CRI handles the labor-intensive part of prospect follow-up, allowing your salespeople and the BDC to focus purely on good, qualified leads that are uncovered. This saves money and allows salespeople and BDC to focus on what they do best by removing a task that they often avoid. </li>
		</ul>
		</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style="background: linear-gradient(#fff 20%, #cde7f4 100%);" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #0787C9; font-size: 18px; font-style: italic; font-weight: 700;">Quickly Uncover and Solve Customer Issues</MudText>
		<ul class="mt-6" style="color: #676773; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>CRI often uncovers scenarios where the customer had an issue with the salesperson. Quickly uncovering this information, then passing it along to the BDC or a sales manager, is often the difference in closing a deal or not.</li>
		</ul>
		<ul class="mt-6 mb-6" style="color: #676773; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>CRI posts real-time web-based reports on the performance of the dealership, as well as each individual salesperson. All call results can even be pushed back into your CRM.</li>
		</ul>
	</MudItem>
</MudGrid>