@page "/reputation"

<MudGrid Style="background-color:#002b45;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Style="color:#ffffff; font-family: 'Abel';font-weight: 400;font-size: 18px;"><MudImage Src="Images/icons-5stars.png" Fluid="true" />&nbsp;&nbsp;&nbsp; REPUTATION ENHANCEMENT WITH SURECRITIC</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/Reputation.jpg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudGrid Justify="Justify.Center">
			<MudItem xs="7" Style="padding-top: 55px; padding-bottom: 55px" Class="border">
				<MudText Style="color: #333333; font-size: 20px; font-family: 'Noto Serif', serif; font-weight: 700;">93% of customers say that their buying decisions are influenced by online reviews. CRI will drive customers to your business using SureCritic to enhance your reputation and increase positive social sharing.</MudText>
			</MudItem>
			<MudItem xs="5" Style=@($"background-color: {Colors.Grey.Lighten2}; padding-top: 30px;")>
				<MudText Style="color: #333333; font-size: 14px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 400;">“SureCritic is a great partner for us. The ratings and review space can make or break our reputation, so it is key that we have verified customer reviews show up in search results when a prospect searches on our business. We also use Social Engage and we are already seeing an increase in Google Places reviews, as well as social media interactions.”</MudText>
				<MudText Align="Align.End" Class="mt-6" Typo="Typo.body2" Style="color: #333333; font-size: 15px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">— Ryan Sawyer<br />President, Kia of Puyallup</MudText>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-10" Style="background-color: #002b45;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 18px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">Reviews Define Your Business</MudText>
		<ul class="mt-6" style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400; list-style-type:initial; margin-left : 1em;">
			<li>88% of consumers trust online reviews as much as personal recommendations.</li>
			<li>87% of potential customers won't consider a business with low ratings.</li>
			<li>A 1-star increase in star ratings can lead to a 5%-9% increase in revenue.</li>
		</ul>
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">CRI is a sister company and proud re-seller of SureCritic. SureCritic provides services to collect a large volume of ratings and reviews from verified customers, then publishes these reviews to search engine optimized business review pages specifically for your business.</MudText>
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">Dusty Dunkle, President and Owner of CRI, co-founded SureCritic in 2010. While CSI programs are designed to help businesses retain customers, improve customer loyalty, and better their processes, similar data (customer feedback) should be used in the public domain to enhance online reputation and drive business.</MudText>
		<MudText Class="mt-6 mb-6" Style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">As Co-Founder and Vice President of SureCritic, Dusty and CRI have the ability to integrate SureCritic services, offer insightful consulting on the reputation of your business, and develop strategies for improvement. Currently, there are over 6,000 active SureCritic clients, including every Hyundai dealership in the United States.</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style=@($"background-color: {Colors.Grey.Lighten2};") Justify="Justify.Center">
	<MudItem xs="10" Class="mb-5">
		<MudText Class="mt-6" Style="color: #333333; font-size: 18px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">SureCritic</MudText>
		<MudText Class="mt-6" Style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">SureCritic provides services to collect a large volume of ratings and reviews from verified customers, then publishes these reviews to a search engine optimized SureCritic website specifically for your business. At the same time the SureCritic ReviewReach platform enhances your reputation across multiple review sites, while monitoring your entire online reputation all in one portal.</MudText>
		<ul class="mt-6" style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400; list-style-type:initial; margin-left : 1em;">
			<li>Manage Your Online Reputation – Search engine optimized Business Review Pages gives you more visibility into customers searching for your business.</li>
			<li>Respond To Reviews In Real-Time – Respond to reviews immediately and represent the entire customer experience. Includes negative response email alerts.</li>
			<li>Easy Integration With Social Media – Allows you to post reviews to Facebook and Twitter.</li>
			<li>Independent Review Site – Since SureCritic is an independent review source, we are a more believable source of information.</li>
			<li>ReScore – Patent pending feature that allows you to ask for a follow up review once you’ve responded to a customer’s low score rating. It’s an industry first!</li>
			<li>Social Engage – We provide opportunities for social engagement throughout the experience for you and your customers and prospects.</li>
			<li>Call Center Assist – An optional feature in cases where you want a fast start or more reviews.</li>
		</ul>
		<MudText Class="mt-6" Style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">Word of Mouth Marketing is the most powerful method of influencing purchase decisions. Our mission is to help our clients measure, understand, and transform WOMM to drive improved customer satisfaction and increase profits.</MudText>
		<MudImage Src="Images/WebsitePicture.png" Fluid="true" Class="mt-8" />
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style="background-color: #002b45;" Justify="Justify.Center">
	<MudItem xs="10" Class="pb-0">
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 18px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">ReScore</MudText>
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">Patent pending feature that allows you to ask for a follow up review once you’ve responded to a customer’s low score rating. It’s an industry first!</MudText>
		<MudImage Src="Images/Rescore.png" Fluid="true" Class="mt-8" />
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style=@($"background-color: {Colors.Grey.Lighten2};") Justify="Justify.Center">
	<MudItem xs="10" Class="text-center">
		<MudText Class="mt-6" Style="color: #333333; font-size: 18px; font-family: 'Noto Serif', serif; font-weight: 700;">ReviewReach</MudText>
		<MudText Class="mt-4" Style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 700;">Get More Great Reviews in More Places.</MudText>
	</MudItem>
	<MudItem xs="8" Class="text-center">
		<video src="Images/file_example_MP4_1920_18MG.mp4" style="max-width:inherit;" autoplay controls muted loop />
	</MudItem>
	<MudItem xs="10" Class="pb-0">
		<MudText Class="mt-4" Style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">The SureCritic ReviewReach platform enhances your reputation across multiple review sites, while monitoring your entire online reputation all in one portal.</MudText>
		<ul style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400; list-style-type:initial; margin-left : 1em;">
			<li>Generate 100’s of 5-Star reviews on Google, Yelp, Facebook and SureCritic</li>
			<li>Manage your entire online reputation from one web portal</li>
			<li>Improve your local SEO on search engines like Google and Bing</li>
			<li>Track conversions to each site and present a balanced review portfolio across all platforms</li>
			<li>Measure user performance against the business</li>
			<li>Increase your bottom line with more customer traffic</li>
		</ul>
		<MudImage Src="Images/SCWebsiteUpdate2V2.1.png" Fluid="true" Class="mt-8" />
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style="background-color: #002b45;" Justify="Justify.Center">
	<MudItem xs="10" Class="pb-0">
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 18px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">RapidResponse</MudText>
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">78% of consumers say seeing a business respond to online reviews makes them believe that the business cares more about them. At the same time, responding to reviews is more important than ever, with 30% naming this as key when judging local businesses. All ReviewReach clients have the option to enroll in RapidResponse, where we respond to your negative (and some positive) reviews. Negative reviews with no response are damaging, and we will ensure a proper response is written immediately.</MudText>
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">After seeing a response that is done right:</MudText>
		<ul style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400; list-style-type:initial; margin-left : 1em;">
			<li>Shopper intent to purchase more than doubles</li>
			<li>71% of consumers change their perception of a brand</li>
			<li>33% of the negative impact of a poor review is eliminated</li>
		</ul>
		<MudText Class="mt-6" Style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">RapidResponse turns upset customers into advocates, improves reputation, drives revenue and provides you with peace of mind. We:</MudText>
		<ul style="color: #ffffff; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400; list-style-type:initial; margin-left : 1em;">
			<li>Respond immediately</li>
			<li>Remove all emotions</li>
			<li>Don’t get defensive</li>
			<li>Don’t get personal</li>
			<li>Don’t fuel the fire</li>
			<li>Apologize</li>
			<li>Show empathy</li>
			<li>Are a friend, not a salesperson</li>
			<li>Thank the customer</li>
			<li>Have proper grammar and spelling</li>
			<li>Keep it short and sweet</li>
			<li>Respond as the Owner or Manager</li>
		</ul>
		<MudImage Src="Images/website3-1024x341.jpg" Fluid="true" Class="mt-8" />
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style=@($"background-color: {Colors.Grey.Lighten2};") Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #333333; font-size: 18px; font-style: italic; font-family: 'Noto Serif', serif; font-weight: 700;">Articles for Reference</MudText>
	</MudItem>
	<MudItem xs="10">
		<MudGrid Class="mb-2">
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">SureCritic Hits 1 Million Verified Customer Reviews</a></dd>
					<dd style="font-style: italic;">Dealer Marketing Magazine</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">Hyundai And Its Dealers Embrace Transparent Web-Based Customer Reviews</a></dd>
					<dd style="font-style: italic;">Hyundai News</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">Mitchell 1 Clients With Best-In-Class SocialCRM Product</a></dd>
					<dd style="font-style: italic;">Mitchell 1</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">Why Mitchell 1 Reviews, Powered By SureCritic, Are A Big Deal </a></dd>
					<dd style="font-style: italic;">Mitchell 1</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">A Changing Landscape for Reputation Management </a></dd>
					<dd style="font-style: italic;">Auto Success</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">Hyundai Gets Swift Reviews </a></dd>
					<dd style="font-style: italic;">Automotive News</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">Hyundai Adopts Amazon Model for Auto Dealer Reviews</a></dd>
					<dd style="font-style: italic;">Daily Finance</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">Plan Kicks CSI Into Cyber Era</a></dd>
					<dd style="font-style: italic;">Automotive News</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">SureCritic Adds Former SOCIALDEALER President </a></dd>
					<dd style="font-style: italic;">F&I Magazine</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">How Online Customer Reviews Help SEO and Drive Sales Growth  </a></dd>
					<dd style="font-style: italic;">Entrepreneur</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">Brian Pasch speaks with Phil Penton, Chief Marketing Officer of SureCritic</a></dd>
					<dd style="font-style: italic;"> Auto Marketing Now, CBT News</dd>
				</dl>
			</MudItem>
			<MudItem xs="12" Class="pb-0">
				<dl style="color: #333333; font-size: 14px; font-family: 'Noto Serif', serif; font-weight: 400;">
					<dd><a href="" style="color:#333333; text-decoration:underline;">Customer reviews on social media can make or break a service department  </a></dd>
					<dd style="font-style: italic;">Automotive News</dd>
				</dl>
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>