@page "/text-the-manager"

<MudGrid Style="background-color:#035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="p-1" Style="color:#E3E3E6; font-size: 18px;">TEXT-THE-MANAGER</MudText>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudImage Src="Images/TextManager1.jpeg" Fluid="true" />
</MudGrid>

<MudGrid Class="mt-10" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #676773; font-size: 20px; font-weight: 700;">Text-the-Manager is an early warning system that allows customers to quickly and easily notify management of any issues via text message. Resolve concerns in-store and make sure your customers leave happy.</MudText>
		</MudItem>
	<MudItem xs="10" sm="10" lg="8" Class="text-center mb-6">
		<video src="Images/file_example_MP4_1920_18MG.mp4" style="max-width:inherit;" autoplay controls muted loop />
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Style="background-color: #035583;" Justify="Justify.Center">
	<MudItem xs="10">
		<MudText Class="mt-6" Style="color: #E3E3E6; font-size: 18px; font-style: italic; font-weight: 700;">Features</MudText>
		<ul class="mt-6 mb-6" style="color: #E3E3E6; font-size: 14px; list-style-type:initial; margin-left : 1em;">
			<li>Increase customer satisfaction and loyalty by identifying and resolving customer concerns faster, ahead of social media channels</li>
			<li>Elevate staff awareness and attentiveness to customer issues</li>
			<li>Assign “First Response” to the appropriate manager with behind the scenes messaging</li>
			<li>Track your progress and prioritize complaints and compliments</li>
			<li>Prioritize and track messages: Open, In-Process or Closed</li>
			<li>Auto response for after-hours</li>
			<li>Zero implementation time</li>
		</ul>
	</MudItem>
</MudGrid>

<MudGrid Class="mt-3" Justify="Justify.Center">
	<MudItem xs="10">
		<MudGrid>
			<MudItem xs="12" sm="12" lg="12" Class="mt-6">
				<MudText Style="color: #0787C9; font-size: 18px; font-style: italic; font-weight: 700;">Why is it Different?</MudText>
			</MudItem>
			<MudItem xs="12" sm="12" lg="12" Class="mt-4">
				<MudImage Src="Images/TTMWIW-1024x294.png" Fluid="true" />
			</MudItem>
			<MudItem xs="12" sm="6" lg="6" Class="mb-3 mt-4">
				<MudImage Src="Images/TTMCG.png" Fluid="true" />
			</MudItem>
			<MudItem xs="12" sm="6" lg="6" Class="mb-3 mt-4">
				<MudImage Src="Images/TTMCG21.jpeg" Fluid="true" />
			</MudItem>
		</MudGrid>
	</MudItem>
</MudGrid>